<?xml version="1.0" encoding="utf-8" ?>
<!--suppress ALL -->
<routes>
    <route url="/" module="News" action="index" ></route>
    <route url="/news-insert\.html" module="News" action="insert" ></route>
    <route url="/news-([0-9]+)\.html" module="News" action="show" vars="id"></route>
    <route url="/commenter-([0-9]+)\.html" module="News" action="insertComment" vars="news"></route>
    <route url="/device\.html" module="Device" action="index" ></route>
    <route url="/login\.html" module="User" action="index" ></route>
    <route url="/logout\.html" module="User" action="logout" ></route>
    <route url="/profil/(.+)" module="User" action="show" vars="pseudo"></route>
    <route url="/signup\.html" module="User" action="signup" ></route>
</routes>