RewriteEngine On

# Si l'URL commence par admin/,
## alors on redirige vers le backend.
RewriteRule ^admin/ bootstrap.php?app=Backend [QSA,L]

# Si le fichier auquel on tente d'accéder existe (si on veut accéder à une image par exemple),
# alors on redirige vers le frontend.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ bootstrap.php?app=Frontend [QSA,L]